.block {
    height: 600px;
    max-width: 1000px;
    border: 4px solid rgb(15, 59, 120);
    border-radius: 20px;
    background: url('../images/hoverla.jpg') no-repeat center/100%;

    margin: 50px auto 8px auto;
}

.block1 {
    background: rgba(255, 255, 255, 0.7);
    height: 592px;
    max-width: 990px;
    border: none;
    border-radius: 20px;
    margin: 0 auto;
    position: absolute;
    top: 54px;
}

h4 {
    font-family: 'Fredoka One', cursive;
    margin: 9px 0 0 10px;
}

.head {
    font-size: 80px;
    color: rgb(249, 100, 7);
    font-weight: 600;
    text-align: center;
    text-indent: 400px;
    margin: 0 0 20px 0;
    line-height: 1.2;
}

.daytemp {
    font-size: 110px;
    line-height: 0.9;
    font-weight: 600;
    color: rgb(249, 100, 7);
    text-align: center;

}

.measureC {
    text-decoration: none;
    font-size: 70px;
    font-weight: 600;
    color: rgb(15, 59, 120);

}

#celciusmin {
    font-size: 40px;
}

#celciusmin:hover {
    color: rgb(15, 59, 120);
    cursor: default;
}

#celcius:hover {
    color: rgb(15, 59, 120);
    cursor: default;
}

#skyIcon {
    width: 155px;
}

.detailed {
    padding-top: 0;
    margin-top: 0;
    line-height: 1;
}

.nighttemp {
    font-size: 50px;
    font-weight: 600;
    color: rgb(15, 59, 120);
    text-align: right;
}

.slash {
    font-size: 40px;
}

#maxTemp {
    padding-left: 110px;
    color: rgb(249, 100, 7);
}

.bigdate {
    text-align: right;
    font-size: 25px;
    color: rgb(15, 59, 120);
    font-weight: 600;
    text-decoration: underline;
}

.bigwind,
.bigdrop {
    font-size: 25px;
    color: rgb(15, 59, 120);
}

.hum {
    text-align: right;
    text-indent: 15px;
    font-weight: 600;
    font-size: 20px;
}

#weatherDescription {
    font-size: 17px;
    display: inline-block;
}

#weatherDescription:first-letter {
    text-transform: capitalize;
}

.forecast {
    text-align: center;
}

.fore-date {
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
}

.smdaytemp {
    color: rgb(249, 100, 7);
}

.smnighttemp {
    color: rgb(15, 59, 120);
}

.fore-temp {
    font-size: 35px;
    font-weight: 600;
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.fore-status {
    font-size: 40px;
    font-weight: 600;
    color: rgb(15, 59, 120);
}

.city-search {
    border: 2px solid rgb(15, 59, 120);
    border-radius: 20px;
    padding: 20px 25px;
    width: 500px;
    margin: 40px 20px 0 20px;
}

.btn-search {
    border: 2px solid rgb(15, 59, 120);
    border-radius: 20px;
    padding: 13px 10px;
    width: 100px;
    color: white;
    background: rgb(15, 59, 120);
    margin-top: 40px;
}

.btn-search:hover {
    background: rgb(33, 111, 221);
}

.showCurrent {
    border: 2px solid rgb(249, 100, 7);
    border-radius: 20px;
    padding: 13px 10px;
    width: 100px;
    color: white;
    background: rgb(249, 100, 7);
    margin-top: 40px;
    margin-left: 25px;
}

.showCurrent:hover {
    background: rgb(157, 63, 5);
}

.gitRef {
    margin: 0 auto;
    width: 950px;
}

.codeRef {
    font-size: 12px;
    text-align: left;
}

.iconFore {
    /* line-height: 0.9;
    vertical-align: top;
    font-size: 30px; */
    display: block;
    margin: 0 auto;
    padding: 0;
}